In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Reading the csv file
data = pd.read_csv('../Assignment_data/Data_Q2/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [4]:
#splitting the dataset into training set and test set
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [5]:
train_set.head()

    sepal_length  sepal_width  petal_length  petal_width     species
22           4.6          3.6           1.0          0.2      setosa
15           5.7          4.4           1.5          0.4      setosa
65           6.7          3.1           4.4          1.4  versicolor
11           4.8          3.4           1.6          0.2      setosa
42           4.4          3.2           1.3          0.2      setosa

In [6]:
test_set.head()

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
18            5.7          3.8           1.7          0.3      setosa
118           7.7          2.6           6.9          2.3   virginica
78            6.0          2.9           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor

In [7]:
#For training data
#Forming an array without the column "species"
Y_train = pd.DataFrame(train_set.species)
Y = np.array((Y_train == "virginica").astype(np.int))

#Classifying the training set into two classes(virginica and non-virginica) to find their individual mean and variance
train_class1 = (train_set.loc[train_set["species"] == 0]).drop(["species"], axis=1) #class1(non-virginica)
train_class2 = (train_set.loc[train_set["species"] == 1]).drop(["species"], axis=1) #class2(virginica)

In [8]:
#For test data
#Forming an array without the columns "species"
Y_test = pd.DataFrame(test_set.species)
test_labels = np.array((Y_test == "virginica").astype(np.int))

test_data = np.array(test_set.drop(["species"], axis=1))

In [9]:
#Finding mean and co-variance
def mean_covariance(x):
    mean = np.array(x.mean())
    covariance = np.array(x.cov())
    return mean,covariance

In [15]:
#Mean and covariance matrices of the two classes
mean1,cov1 = mean_covariance(train_class1)
mean2,cov2 = mean_covariance(train_class2)

mean = []
mean.append(mean1)
mean.append(mean2)

covariance = []
covariance.append(cov1)
covariance.append(cov2)

In [16]:
import math

#The multi-variate gaussian(mean,covariance)
def gaussian(x,mean,sigma):
    dim = len(x)
    p = (1.0/(math.sqrt(np.linalg.det(sigma)) * pow(math.sqrt(2*math.pi),dim))) * math.exp((-np.dot((x-mean).transpose(),np.dot(np.linalg.inv(sigma),x-mean)))/2.0)
    return p

In [20]:
#Obtaining the predicted labels for the given data
def get_predicted_label(x,mean,sigma):
    if(gaussian(x,mean[0],sigma[0])<gaussian(x,mean[1],sigma[1])):
        return 1
    return 0

In [18]:
%%time
#Obtaining the predicted labels for the test data
predicted_labels = []
for i in range(len(test_data)):
    predicted_labels.append(get_predicted_label(test_data[i],mean,covariance))

CPU times: user 32.6 ms, sys: 20.3 ms, total: 52.9 ms
Wall time: 20.6 ms

In [19]:
#Finding the accuracy score of the predicted test labels
from sklearn.metrics import accuracy_score

accuracy_score(test_labels,predicted_labels)

0.6333333333333333