In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Reading the csv file
data = pd.read_csv('../Assignment_data/Data_Q2/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [4]:
#splitting the dataset into training set and test set
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [5]:
train_set.head()

    sepal_length  sepal_width  petal_length  petal_width     species
22           4.6          3.6           1.0          0.2      setosa
15           5.7          4.4           1.5          0.4      setosa
65           6.7          3.1           4.4          1.4  versicolor
11           4.8          3.4           1.6          0.2      setosa
42           4.4          3.2           1.3          0.2      setosa

In [6]:
test_set.head()

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
18            5.7          3.8           1.7          0.3      setosa
118           7.7          2.6           6.9          2.3   virginica
78            6.0          2.9           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor

In [7]:
#For training data
#Forming an array without the column "species"
Y_train = pd.DataFrame(train_set.species)
Y = np.array((Y_train == "virginica").astype(np.int))
m = len(Y)

X_train = train_set.drop(["species"], axis=1)
#Forming the X like [1,X1,X2,....,Xm]
X = np.c_[np.ones((m,1)),X_train]
dim = len(X[0])

In [8]:
#For test data
#Forming an array without the columns "species"
Y_test = pd.DataFrame(test_set.species)
test_labels = np.array((Y_test == "virginica").astype(np.int))
m1 = len(test_labels)

X_test = test_set.drop(["species"], axis=1)
#Forming the X like [1,X1,X2,....,Xm1]
test_data = np.c_[np.ones((m1,1)),X_test]

In [9]:
#Sigmoid function : 1/(1+exp(-x))
def sigmoid(x):
    sigma = 1.0/(1 + np.exp(-x))
    return sigma

In [10]:
#Cost function where p is the predicted probability
#Cost : -((transpose(Y).log(p)) + (transpose(1-Y).log(1-p)))/m
def cost(y,p):
    m = len(y)
    cost = (-np.dot(y.transpose(), np.log(p)) - np.dot((1-y).transpose(), np.log(1-p)))/m
    return cost

In [11]:
#Logistic Regression using gradient descent : (theta_new) = theta -(eta*gradient(MSE(theta)))
#Here, gradient(MSE(theta)) = (transpose(X).(sigmoid(X.theta) - Y))/m --> (Predicted - actual)
def log_reg_gradient_descent(x,y,theta,eta,iterations):
    m = len(y)
    theta_history = []
    cost_history = []
    for i in range(iterations):
        hypothesis = sigmoid(np.dot(x,theta)) #predicted probability
        cost_history.append(cost(y,hypothesis))
        error = hypothesis - y
        gradient =(x.transpose().dot(error))/m
        theta = theta - (eta*gradient)
        theta_history.append(theta) 
    return cost_history,theta_history,theta

In [12]:
%%time
theta = np.zeros((dim,1))
cost_history,theta_history,theta_new = log_reg_gradient_descent(X,Y,theta,0.1,1500)

CPU times: user 78.2 ms, sys: 0 ns, total: 78.2 ms
Wall time: 76.5 ms

In [13]:
theta_new

array([[-1.41880496],
       [-2.38188646],
       [-2.48620655],
       [ 3.69544423],
       [ 3.17896813]])

In [14]:
#The predicted probabilities will be the sigmoid
#Finding the predicted labels
predicted_probabilities = sigmoid(np.dot(test_data,theta_new))
predicted_labels = np.array((predicted_probabilities > 0.5).astype(np.int))

In [15]:
#Finding the accuracy score of the predicted test labels
from sklearn.metrics import accuracy_score

accuracy_score(test_labels,predicted_labels)

1.0