In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Reading the csv file
data = pd.read_csv('../Assignment_data/Data_Q3/D51.csv')
data.head()

,Unnamed: 0,F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,Label
0,0,0.348462,0.313163,-0.883081,0.098483,-0.168250,0.020264,0.011705,0.021841,0.007599,0.134237,0.249658,0.199757,0
1,1,0.377118,0.302959,-0.875143,0.052411,-0.316937,-0.016720,0.005516,0.009458,0.001826,0.031126,0.039958,0.029229,1
2,2,0.362622,0.306870,-0.879939,0.074370,-0.223022,0.021577,0.001426,0.005996,0.002257,0.024219,0.013227,0.021456,1
3,3,0.360025,0.282392,-0.888977,0.058799,-0.139467,-0.122720,0.004788,0.017349,0.005781,0.062208,0.073052,0.018227,1
4,4,0.361235,0.280317,-0.889302,0.058628,-0.150846,-0.123612,0.003201,0.007381,0.003100,0.013480,0.027003,0.005805,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 14 columns):
Unnamed: 0    2254 non-null int64
F0            2254 non-null float64
F1            2254 non-null float64
F2            2254 non-null float64
F3            2254 non-null float64
F4            2254 non-null float64
F5            2254 non-null float64
F6            2254 non-null float64
F7            2254 non-null float64
F8            2254 non-null float64
F9            2254 non-null float64
F10           2254 non-null float64
F11           2254 non-null float64
Label         2254 non-null int64
dtypes: float64(12), int64(2)
memory usage: 246.6 KB

In [4]:
#splitting the dataset into training set and test set
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [5]:
train_set.head()

,Unnamed: 0,F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,Label
121,121,0.316162,0.293356,-0.901531,-0.055154,0.197522,0.031506,0.010711,0.030875,0.012595,0.182942,0.040041,0.041178,1
173,173,0.342953,0.328651,-0.879980,0.102548,-0.044241,0.140882,0.000991,0.002371,0.001007,0.011043,0.007843,0.003937,1
1245,1245,0.157628,0.227237,-0.958732,0.111409,0.286998,-0.028284,0.040457,0.047689,0.020932,0.014165,0.018101,0.007679,1
1323,1323,0.011324,0.099787,-0.991258,0.165100,0.155952,0.137904,0.033611,0.077369,0.014335,0.012905,0.034925,0.007982,1
999,999,0.263980,0.299922,-0.915451,-0.050777,-0.115240,-0.005539,0.034215,0.030451,0.014590,0.029493,0.040330,0.046468,0

In [6]:
test_set.head()

,Unnamed: 0,F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,Label
2063,2063,0.219480,0.353196,-0.906731,0.260727,-0.125172,0.170507,0.030283,0.057854,0.025604,0.056460,0.045957,0.086051,1
1263,1263,0.085536,0.223005,-0.967254,0.086811,0.281656,0.085397,0.051639,0.061754,0.029851,0.054223,0.042065,0.046288,1
2127,2127,0.089150,0.269871,-0.955732,0.077142,0.269803,0.078721,0.037762,0.061999,0.022974,0.010731,0.041363,0.043932,0
599,599,0.381911,0.374295,-0.844846,0.350861,0.134304,0.031287,0.011134,0.010561,0.006816,0.033942,0.022350,0.013100,0
464,464,0.450384,0.265171,-0.851497,0.210392,-0.300815,-0.040869,0.032023,0.024862,0.012149,0.015922,0.089045,0.015797,1

In [7]:
#For training data
#Forming an array without the columns "Unnamed: 0", "Label"
X = train_set.drop(["Unnamed: 0", "Label"], axis=1)
Y = pd.DataFrame(train_set.Label) #labels

X = X.values
Y = Y.values

In [8]:
#For test data
#Forming an array without the columns "Unnamed: 0", "Label"
test_data = test_set.drop(["Unnamed: 0", "Label"], axis=1)
test_labels = pd.DataFrame(test_set.Label) #labels

test_data = test_data.values
test_labels = test_labels.values

In [9]:
import math

#Euclidean distance between two data points in a d-dimensional space
def distance(p1,p2,dim):
    d = 0
    for i in range(dim):
        d += pow(p1[i]-p2[i],2)
    return math.sqrt(d)

#Finding the index of the nearest neighbour(minimum distance) for the given data point
def nearest_neighbour(p,x):
    min_d = float('Inf')
    min_i = 0
    dim = len(x[0])
    for i in range(len(x)):
        d = distance(p,x[i],dim)
        if(min_d > d):
            min_d = d
            min_i = i
    return min_i

#Finding the label of the obtained nearest neighbour
def nn_classifier(p,x,labels):
    return labels[nearest_neighbour(p,x)]

In [10]:
%%time
#Finding predicted test labels
predicted_labels = []
for i in range(len(test_data)):
    predicted_labels.append(nn_classifier(test_data[i],X,Y))

CPU times: user 6.42 s, sys: 250 ms, total: 6.67 s
Wall time: 6.44 s

In [11]:
#Finding the accuracy score of the predicted test labels
from sklearn.metrics import accuracy_score

accuracy_score(test_labels,predicted_labels)

0.8713968957871396

In [12]:
#Finding the precision score of the predicted test labels
from sklearn.metrics import precision_score

precision = precision_score(test_labels,predicted_labels)
precision

0.9054054054054054

In [13]:
#Finding the recall score of the predicted test labels
from sklearn.metrics import recall_score

recall = recall_score(test_labels,predicted_labels)
recall

0.9357541899441341

In [14]:
F_measure = 2 * (precision * recall) / (precision + recall)
F_measure

0.9203296703296703

In [15]:
#Finding the AUC of the predicted test labels
from sklearn import metrics

#area under the curve with label '0'
fpr, tpr, thresholds = metrics.roc_curve(test_labels, predicted_labels, pos_label=0)
print metrics.auc(fpr, tpr)

#area under the curve with label '1'
fpr, tpr, thresholds = metrics.roc_curve(test_labels, predicted_labels, pos_label=1)
print metrics.auc(fpr, tpr)

0.22029494803868566
0.7797050519613143