In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Reading the csv file
data = pd.read_csv('../Assignment_data/Data_Q2/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [4]:
#splitting the dataset into training set and test set
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [5]:
train_set.head()

    sepal_length  sepal_width  petal_length  petal_width     species
22           4.6          3.6           1.0          0.2      setosa
15           5.7          4.4           1.5          0.4      setosa
65           6.7          3.1           4.4          1.4  versicolor
11           4.8          3.4           1.6          0.2      setosa
42           4.4          3.2           1.3          0.2      setosa

In [6]:
test_set.head()

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
18            5.7          3.8           1.7          0.3      setosa
118           7.7          2.6           6.9          2.3   virginica
78            6.0          2.9           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor

In [7]:
#For training data
#Forming an array without the column "species"
X = train_set.drop(["species"], axis=1)
                          
Y_train = pd.DataFrame(train_set.species)
Y = (Y_train == "virginica").astype(np.int)

In [8]:
#For test data
#Forming an array without the columns "species"
test_data = test_set.drop(["species"], axis=1)

Y_test = pd.DataFrame(test_set.species)
test_labels = np.array((Y_test == "virginica").astype(np.int))

In [9]:
%%time
from sklearn.linear_model import LogisticRegression

log_regression = LogisticRegression(C = 10**10, random_state = 42)

CPU times: user 21 ms, sys: 4.26 ms, total: 25.2 ms
Wall time: 23.7 ms

In [10]:
log_regression.fit(X,Y.values.ravel())

LogisticRegression(C=10000000000, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=42,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [11]:
#Predicting probabilities for the test data
y_prob = log_regression.predict_proba(test_data)
#Prediciting labels of the test data
predicted_labels = log_regression.predict(test_data)

In [12]:
y_prob

array([[9.99886018e-01, 1.13982017e-04],
       [1.00000000e+00, 1.61145787e-24],
       [1.10178533e-11, 1.00000000e+00],
       [9.98125582e-01, 1.87441805e-03],
       [9.98425359e-01, 1.57464063e-03],
       [1.00000000e+00, 4.67655961e-23],
       [9.99999906e-01, 9.36781844e-08],
       [1.89774380e-04, 9.99810226e-01],
       [8.70203692e-01, 1.29796308e-01],
       [9.99999439e-01, 5.61266128e-07],
       [2.18379761e-02, 9.78162024e-01],
       [1.00000000e+00, 8.19513387e-24],
       [1.00000000e+00, 1.34904762e-25],
       [1.00000000e+00, 7.64749650e-24],
       [1.00000000e+00, 1.10118259e-24],
       [9.98266853e-01, 1.73314665e-03],
       [6.33180690e-07, 9.99999367e-01],
       [9.99999346e-01, 6.54284379e-07],
       [9.99736633e-01, 2.63367348e-04],
       [6.82390210e-07, 9.99999318e-01],
       [1.00000000e+00, 7.00690142e-23],
       [2.54039584e-01, 7.45960416e-01],
       [1.00000000e+00, 2.51568943e-22],
       [3.53458966e-06, 9.99996465e-01],
       [5.57825525e-04, 9.99442174e-01],
       [2.72183041e-05, 9.99972782e-01],
       [2.26222417e-05, 9.99977378e-01],
       [3.98371590e-07, 9.99999602e-01],
       [1.00000000e+00, 2.19872523e-22],
       [1.00000000e+00, 1.12414222e-22]])

In [13]:
predicted_labels

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 0])

In [14]:
#Finding the accuracy score of the predicted test labels
from sklearn.metrics import accuracy_score

accuracy_score(test_labels,predicted_labels)

1.0