In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Reading the csv file
data = pd.read_csv('../Assignment_data/Data_Q2/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [4]:
#splitting the dataset into training set and test set
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [5]:
train_set.head()

    sepal_length  sepal_width  petal_length  petal_width     species
22           4.6          3.6           1.0          0.2      setosa
15           5.7          4.4           1.5          0.4      setosa
65           6.7          3.1           4.4          1.4  versicolor
11           4.8          3.4           1.6          0.2      setosa
42           4.4          3.2           1.3          0.2      setosa

In [6]:
test_set.head()

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
18            5.7          3.8           1.7          0.3      setosa
118           7.7          2.6           6.9          2.3   virginica
78            6.0          2.9           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor

In [7]:
#For training data
#Forming an array without the column "species"
X = np.array(train_set.drop(["species"], axis=1))
Y_train = pd.DataFrame(train_set.species) #labels
Y = np.array((Y_train == "virginica").astype(np.int))

In [8]:
#For test data
#Forming an array without the column "species"
test_data = np.array(test_set.drop(["species"], axis=1))
Y_test = pd.DataFrame(test_set.species) #labels
test_labels = np.array((Y_test == "virginica").astype(np.int))

In [9]:
import math

#Euclidean distance between two data points in a d-dimensional space
def distance(p1,p2,dim):
    d = 0
    for i in range(dim):
        d += pow(p1[i]-p2[i],2)
    return math.sqrt(d)

#Finding the index of the nearest neighbour(minimum distance) for the given data point
def nearest_neighbour(p,x):
    min_d = float('Inf')
    min_i = 0
    dim = len(x[0])
    for i in range(len(x)):
        d = distance(p,x[i],dim)
        if(min_d > d):
            min_d = d
            min_i = i
    return min_i

#Finding the label of the obtained nearest neighbour
def nn_classifier(p,x,labels):
    return labels[nearest_neighbour(p,x)]

In [10]:
%%time
#Finding predicted test labels
predicted_labels = []
for i in range(len(test_data)):
    predicted_labels.append(nn_classifier(test_data[i],X,Y))

CPU times: user 26.4 ms, sys: 641 Âµs, total: 27.1 ms
Wall time: 26.5 ms

In [11]:
#Finding the accuracy score of the predicted test labels
from sklearn.metrics import accuracy_score

accuracy_score(test_labels,predicted_labels)

1.0